@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
  height: 100vh;
  padding: 15px;
  background-color: #efea44;
  color: #fe6d2c;
  font-size: 1.4rem;
}

.inner {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 4px solid #fe6d2c;
}

.header {
  width: 100%;
  height: 40px;
  border-bottom: 4px solid #fe6d2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header span {
  font-style: italic;
}

.footer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #fe6d2c;
}

.footer span {
  font-style: italic;
}

.content {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
}

.content__left {
  width: 45px;
  height: 100%;
  border-right: 4px solid #fe6d2c;
}

.left__one {
  width: 100%;
  height: 55%;
  color: white;
  background-color: #fe6d2c;
  border-bottom: 4px solid #fe6d2c;
}

.left__two {
  width: 100%;
  height: 35%;
  border-bottom: 4px solid #fe6d2c;
}

.left__three {
  width: 100%;
  height: 10%;
}

.content__center {
  width: calc(100% - 90px);
  height: 100%;
}

.content__right {
  width: 45px;
  height: 100%;
  color: white;
  border-left: 4px solid #fe6d2c;
}

.right__one {
  width: 100%;
  height: 50%;
  background-color: #3fac48;
  border-bottom: 4px solid #fe6d2c;
}

.right__two {
  width: 100%;
  height: 50%;
  background-color: #3fac48;
}
